<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="APP_NAME" value="account-service"/>

    <!-- En Docker: /app/logs. En local podrías usar logs -->
    <property name="LOG_PATH" value="/app/logs"/>

    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [${APP_NAME}] [%thread] %logger{36} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <!-- Archivo activo -->
        <file>${LOG_PATH}/account-log.log</file>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

            <!-- Archivo histórico diario -->
            <fileNamePattern>${LOG_PATH}/history/account-log-%d{yyyy-MM-dd}.log</fileNamePattern>

            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>

        </rollingPolicy>
    </appender>

    <logger name="pe.com.bootcamp" level="INFO"/>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.mongodb.driver" level="WARN"/>
    <logger name="reactor.netty" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>